{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-multi-str": 0,
    "no-loop-func": 0,
    "no-underscore-dangle": 0,
    "react/jsx-curly-spacing": "off",
    "no-undef": 0
  }
}
